[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pydocstyle = "*"
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
tox = "*"
ipdb = "*"
mutpy = "*"

[packages]
flask = "*"
flask-restful = "*"
passlib = "*"
flask-jwt-extended = "*"
flask-login = "*"
flask-WTF = "*"
requests = "*"
bs4 = "*"
flask-mysql = {editable = true,git = "https://github.com/GUIKAR741/flask-mysql.git",ref = "master"}

[requires]
python_version = "3.7"
