[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pydocstyle = "*"
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
tox = "*"
ipdb = "*"
mutpy = "*"

[packages]
flask = "*"
flask-mysql = "*"
flask-restful = "*"
passlib = "*"

[requires]
python_version = "3.7"
