{% extends "base/base-login-forgot.html" %}
{% block title%}Não Autorizado{% endblock %}
{% block background%}
forgot-bg
{% endblock %}
{% block body %}
<div class="row">
  <div class="col s12">
    <div class="container">
      <div id="login-page" class="row">
        <div class="col s12 m6 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
          <div class="row">
            <div class="input-field col s12 center">
              <h4 class="ml-4">Você Não está Autorizado à Acessar!</h4>
              <p>
                <h6>Lamentamos o transtorno!</h6>
              </p>
              <p>
                <h6>Clique no botão abaixo para voltar para página inicial.</h6>
              </p>
            </div>
            <div class="input-field col s12" style="padding-right: 80px; padding-left: 80px; margin-top: 0px;">
              <a href="{{ url_for('index.login')}}"
                class="btn waves-effect waves-light border-aquare gradient-45deg-light-blue-cyan col s12">PÁGINA
                INICIAL</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}