{% extends "base/base-login-forgot.html" %}
{% block title%}Esqueceu a Senha{% endblock %}
{% block background%}
forgot-bg
{% endblock %}
{% block body %}
    <div class="row">
      <div class="col s12">
        <div class="container">
          <div id="login-page" class="row">
            <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
              <form class="login-form" id="loginValidate">
                <div class="row">
                  <div class="input-field col s12">
                    <h5 class="ml-4">Esqueceu senha</h5>
                  </div>
                </div>
                <div class="row margin">
                  <div class="input-field col s12">
                    <i class="material-icons prefix pt-2">email</i>
                    <input id="usuario" name="usuario" type="email" data-error=".errorUsuario">
                    <label for="usuario" class="center-align">Email</label>
                    <div class="errorUsuario" style="margin-left: 45px;"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn waves-effect waves-light border-square gradient-45deg-light-blue-cyan col s12 swal-esqueceu-senha" type="submit">Resetar senha</button>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12 left">
                    <p class="margin right-align medium-small forgot"><a href="{{ url_for('index.login')}}">Login</a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}