{% extends 'base/base-library.html' %}
{% block title %}Reservas{% endblock %}
{% block reserva %}active gradient-shadow gradient-45deg-light-blue-cyan{% endblock %}
{% block body %}
    <!-- BEGIN: Page Main-->
    <div id="main" class="main-full">
      <div class="row">
        <div class="content-wrapper-before blue-grey lighten-5"></div>
            <div class="row">
                <div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col s10 m6 l6 breadcrumbs-left">
                                <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">Minhas reservas</h5>
                                <ol class="breadcrumbs mb-0">
                                    <li class="breadcrumb-item"><a href="{{ url_for('library.home')}}">Inicio</a>
                                    </li>
                                    <li class="breadcrumb-item active">Minhas reservas
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="card animate fadeUp">
                        <div class="card-content">
                            <table class="responsive-table striped">
                                <thead>
                                    <tr>
                                        <th>Título do livro</th>
                                        <th>Data prevista</th>
                                        <th>Cancelar Reserva</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%if reservas is maiorZero%}
                                    {%for i in reservas%}
                                    <tr>
                                        <td>{{i.titulo}}</td>
                                        {%if i.data_devolucao_estimada is defined%}
                                        <td>{{i.data_devolucao_estimada|datetime("%d/%m/%Y")}}</td>
                                        {%endif%}
                                        <td><button class="waves-effect waves-light btn gradient-45deg-light-blue-cyan z-depth-4 mt-2 tooltipped swal-cancelar" data-position='top' data-tooltip='Cancelar'type="submit" ><i class="material-icons">clear</i></button></td>
                                    </tr>
                                    {%endfor%}
                                    {%else%}
                                    <tr>
                                        <td colspan="4" style='text-align: center'>Você Não Possui Reservas!</td>
                                    </tr>
                                    {%endif%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

      </div>
    </div>
    <!-- END: Page Main-->
{% endblock %}